<table id="example" class="table table-borderless" style="width:100%">
  <thead>
    <tr>
      <th>INGREDIENTS</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Humectant one</td>
      <td>humectants</td>
    </tr>
    <tr>
      <td>Protein one</td>
      <td>proteins</td>
    </tr>
    <tr>
      <td>Emollient one</td>
      <td>emollients</td>
    </tr>
  </tbody>
</table>

<script>
$(document).ready(function() {
    var groupColumn = 1;
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": groupColumn }
        ],
        "info": false,
        "lengthChange": false,
        "order": [[ groupColumn, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
            table.order( [ groupColumn, 'desc' ] ).draw();
        }
        else {
            table.order( [ groupColumn, 'asc' ] ).draw();
        }
    } );
} );
</script>
