<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d5f5e3;">
  <%= link_to 'Home', root_path, class: 'navbar-brand', data: { turbolinks: false } %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to 'Search Ingredients', ingredients_path, class: 'nav-link', data: { turbolinks: false } %>
    </ul>
  </div>
</nav>
