<div class='container'>
  <div class="card shadow" style="width: auto;">
    <div class="card-body">
      <h4 class="card-title">EMOLLIENTS</h4>
      <h6 class="card-subtitle mb-2 text-muted">THE HAIR PROTECTION AND SMOOTHING</h6>
      <p class="card-text"><div class='container'>The term emollient is probably most appropriate for use in skin care applications, but it has been incorporated into the hair care vocabulary, which is often a source of confusion.   An emollient skin care ingredient is one that has good spreadability onto the skin, where it forms an evenly distributed film that softens and smoothes the surface without feeling greasy or tacky. So, if we extrapolate those properties to hair care, we can assert that an emollient for hair should easily form a smooth, even film on the surface of the hair, should soften the hair, and should not yield an unpleasant sticky or greasy texture.</div></p>
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#emollientsModal">
        Learn more about emollients
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="emollientsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='container'><div class='container'>
        The term emollient is probably most appropriate for use in skin care applications, but it has been incorporated into the hair care vocabulary, which is often a source of confusion.   An emollient skin care ingredient is one that has good spreadability onto the skin, where it forms an evenly distributed film that softens and smoothes the surface without feeling greasy or tacky. So, if we extrapolate those properties to hair care, we can assert that an emollient for hair should easily form a smooth, even film on the surface of the hair, should soften the hair, and should not yield an unpleasant sticky or greasy texture.

        More specifically, emollients for hair are usually hydrophobic oils that form films on the surface of the hair, where they often act as anti-humectants or sealers.  They are lubricants and provide increased slip (decreased drag) between adjacent hair strands, which makes detangling much easier.  They also reduce tangling in general by smoothing and flattening the cuticle surface, which can also add shine and gloss to the hair.  The best ones impart a soft, silky feel to tresses, while lesser ones may weigh it down or make it feel greasy.  Some can penetrate the interior structures of the hair and act as plasticizers, improving elasticity, toughness, and suppleness.

        Common emollient ingredients include silicones (dimethicone, amodimethicone, cyclomethicone, etc.), fatty alcohols, fruit and vegetable-derived oils and butters, proteins and hydrolyzed proteins, mineral oil, petrolatum, and polyquaterniums (cationic polymers).  Many of these are entirely hydrophobic, but hydrolyzed proteins and fruit and vegetable oils are typically smaller molecules with fatty acid components that are hydrophilic.  This can enable these to act as both emollients and as mild humectants. Some of these can also penetrate through the cuticle layer into the cortex and significantly improve the mechanical properties of the hair (although for some people, this can weigh the hair down and disrupt curly pattern or swell the hair strand and raise the cuticle, creating frizz).  In extreme humidity, films comprised of these oils can become sticky and dull-looking due to inclusion of water molecules.

        Most anti-frizz and anti-humectant serums are comprised of extremely hydrophobic, synthetic emollients such as silicones, emollient esters, and mineral oil or petrolatum.  These typically sit directly on the surface of the hair and act as occlusive agents, barriers which prevent moisture from escaping from the cortex or getting into it from a humid environment.  People who do not use shampoo or use only mild shampoos should be extremely cautious about these types of ingredients and products.
        </br></br>
        If you wish to know which ingredients are emollients, check out our <%= link_to 'ingredients list', ingredients_url %>
        </br></br>
        </div></div>
      </div>
    </div>
  </div>
</div>
