<div class='container'>
  <div class="card shadow" style="width: auto;">
    <div class="card-body">
      <h4 class="card-title">HUMECTANTS</h4>
      <h6 class="card-subtitle mb-2 text-muted">THE HAIR MOISTURE</h6>
      <p class="card-text"><div class='container'>
        The essential qualification for an ingredient to be a moisturizer is that it must improve or maintain hydration levels of hair or skin.  Proper levels of moisture (a delicate balance between too much and too little) help maintain the keratin structure and mechanical integrity of the hair.  Hair with optimal water levels has more body, bounce, and better curl retention.  Curly hair, with its greater porosity and complex protein structure is highly susceptible to water loss, and is thus in particular need of restoration of moisture on a regular basis.</div></p>
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#emollientsModal">
        Learn more about emollients
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="emollientsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='container'><div class='container'>
        </br></br>
        The essential qualification for an ingredient to be a moisturizer is that it must improve or maintain hydration levels of hair or skin.  Proper levels of moisture (a delicate balance between too much and too little) help maintain the keratin structure and mechanical integrity of the hair.  Hair with optimal water levels has more body, bounce, and better curl retention.  Curly hair, with its greater porosity and complex protein structure is highly susceptible to water loss, and is thus in particular need of restoration of moisture on a regular basis.

True moisturizing agents are humectants, which are extremely hydrophilic molecules that use hydrogen bonding to attract and hold water molecules from the local environment, making it available to the hair. Some examples of these types of ingredients are glycerin, propylene glycol, panthenol, honey, agave, and aloe vera.  Additionally, a good moisturizing formula will include an occlusive agent, a hydrophobic ingredient which seals moisture into the hair by forming a barrier film on the surface of the hair.  There are some natural oils that have sufficient amounts of hydrophilic bits on their structures that they can act as both occlusive barriers and mild humectants, and some larger molecule sugars that have enough hydrophobic substance to also perform both roles.
        If you wish to know which ingredients are humectants, check out our <%= link_to 'ingredients list', ingredients_url %>
        </br></br>
        </div></div>
      </div>
    </div>
  </div>
</div>
