<div class='container'>
  <div class="card shadow" style="width: auto;">
    <div class="card-body">
      <h4 class="card-title">POROSITY</h4>
      <h6 class="card-subtitle mb-2 text-muted">LOW, MEDIUM OR HIGH?</h6>
      <p class="card-text"><div class='container'>Porosity is the ability of your hair to absorb and retain moisture. Knowing your porosity is just as important as knowing your curl type. Porosity ranges from low to high, depending on the condition of the cuticle.</div></p>
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#porosityModal">
        Learn more about porosity
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="porosityModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='container'><div class='container'>
        Porosity refers to how well your hair is able to absorb and hold moisture. It is affected by the flexible outer hair layer called the cuticle, which determines how easily moisture and oils pass in and out of your hair. For most, porosity is genetic, but it can also be affected by external factors such as exposure, heat treatments and chemical processing. Knowing your hair's porosity can help you choose the right products to keep your hair well-moisturized, supple, strong and shiny. 
        </br></br>
        If you wish to know which porosity type is your hair, take our <%= link_to 'quiz on porosity', quizzes_path %>
        </br></br>
        </div></div>
      </div>
    </div>
  </div>
</div>
