<div class='container'>
  <div class="card shadow" style="width: auto;">
    <div class="card-body">
      <h4 class="card-title">PROTEINS</h4>
      <h6 class="card-subtitle mb-2 text-muted">THE HAIR NUTRITION</h6>
      <p class="card-text"><div class='container'>
        All protein treatments are not created equal. Curly, coily, and wavy hair relies on a perfect balance of oils, nutrients, moisture, and proteins. Proteins are large molecules consisting of amino acids that our bodies and cells need to function properly, according to  Owner of Medical News Today Christian Nordqvist.  Proteins play a role in virtually every biological process including hair. Keratin, which hair is made of, is a strong protein that can break down with sun exposure, wind, pollutants, daily maintenance, manipulation, heat tools, and chemical treatments like permanent color. This is where using protein treatments come in to help temporarily repair the hair strands.</div></p> 
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#proteinsModal">
        Learn more about proteins
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="proteinsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='container'><div class='container'>
        </br></br>
        All protein treatments are not created equal. Curly, coily, and wavy hair relies on a perfect balance of oils, nutrients, moisture, and proteins. Proteins are large molecules consisting of amino acids that our bodies and cells need to function properly, according to  Owner of Medical News Today Christian Nordqvist.  Proteins play a role in virtually every biological process including hair. Keratin, which hair is made of, is a strong protein that can break down with sun exposure, wind, pollutants, daily maintenance, manipulation, heat tools, and chemical treatments like permanent color. This is where using protein treatments come in to help temporarily repair the hair strands. 

        Protein treatments are used to add strength and resiliency to damaged hair by attaching hydrolyzed proteins directly to the hair follicle and hardening the cuticle layer. If there are holes in the hair cuticle, it will fill those holes or gaps while also placing a barrier around the hair shaft to lessen further damage. Most protein treatments are conditioning treatments. They can come be a deep conditioner, light, or reconstructor (heavy). There are several types that cater to your specific needs
        If you wish to know which ingredients are proteins, check out our <%= link_to 'ingredients list', ingredients_url %>
        </br></br>
        </div></div>
      </div>
    </div>
  </div>
</div>
