</br>
<div class='container'>
  <div class='card shadow'>
    <div class='container'>
      </br></br>
        <div class='container' style='text-align: center'>
          <h2>Wanna learn how to take care of your curls?</h2>
          <h2>Start with the basis</h2>
          </br></br>
          <%= render 'emollients' %>
          </br></br>
          <%= render 'humectants' %>
          </br></br>
          <%= render 'proteins' %>
          </br></br>
          <%= render 'porosity' %>
        </div>
      </br></br>
    </div>
  </div>
</br></br>
<div>
