// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #f17ec4 !important;
    border-color: #e95eb2 !important;
}

.dataTables_filter {
    float: left !important;
    width: 500px;
}


div.dataTables_wrapper div.dataTables_filter input {
    width: 500px !important;
}

.dataTables_wrapper .dataTables_filter {
    text-align: center !important;
    font-size: larger !important;
}
