// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #f17ec4 !important;
    border-color: #e95eb2 !important;
}
